
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    {% feed_meta %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="downloads">
          <li><a href="{{ site.blog_url }}">View my<strong>BLOG</strong></a></li>
          <li><a href="{{ site.github.repo_url }}">View my<strong>GITHUB</strong></a></li>
          <li><a href="{{ site.github.linkedin_url }}">View my<strong>LINKEDIN</strong></a></li>
          <li><a href="{{ "/feed.xml" | absolute_url }}">Get my<strong>RSS</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Follow me on <a href="https://twitter.com/verovaleros">Twitter</a>, <a href="https://infosec.exchange/@verovaleros">Mastodon</a>, and <a href="https://bsky.app/profile/verovaleros.bsky.social">BlueSky</a>. 
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
